.hamburger_wrapper {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.ham_icon {
  position: relative;
  width: 25px;
  height: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  rotate: 0;
  transition: all 1s ease;
  cursor: pointer;
}

.ham_icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-gold);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.5s;
}

.ham_icon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 60%;
  transform: translateY(0);
}

.ham_icon span:nth-child(2) {
  width: 110%;
  transform: scaleX(1);
  opacity: 1;
}

.ham_icon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 60%;
  rotate: 0;
}

.hamburger_wrapper.active .ham_icon {
  rotate: 225deg;
}

.hamburger_wrapper.active span:nth-child(1) {
  width: 100%;
  transform: translateY(7px);
  transition-delay: 0s;
}

.hamburger_wrapper.active span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
  transition-delay: 0s;
}

.hamburger_wrapper.active span:nth-child(3) {
  width: 100%;
  rotate: 90deg;
  bottom: 9px;
  transition-delay: 0s;
}

/* Responsive UI for smaller screen */
@media screen and (max-width: 769px) {
  .hamburger_wrapper {
    display: flex;
  }
}
